body {
}

textarea {
	resize: vertical;
}

.one-hundred-width {
	width: 100%;
}

.white-text {
	color: white;
}

.no-margin {
	margin: 0px !important;
}

.no-margin-top {
	margin-top: 0px !important;
}

.no-margin-left {
	margin-left: 0px !important;
}

.no-margin-right {
	margin-right: 0px !important;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.no-padding-top {
	padding-top: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-bottom {
	padding-bottom: 0px !important;
}

.background-img {
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -10;
}

#bg-img-2, #bg-img-3, #bg-img-4, #bg-img-5, #bg-img-6 {
	display: none;
}

#content-container {

}

#me-tab {
	position: fixed;
	width: 70px;
	height: 15%;
	left: -30px;
	top: 10%;
	background: #FFFFFF;
	border-radius: 5px;
	overflow: auto;
	z-index: 3;
}

#me-tab-open-button {
	position: absolute;
	top: 5%;
	right: 5px;
	height: 90%;
	max-height: 100px;
}

#me-tab-contents {
	display: none;
	width: 90%;
	margin-left: 1%;
	color: #000000;
	z-index: 1;
	opacity: 1;
}

#trip-tab {
	position: fixed;
	width: 70px;
	height: 15%;
	left: -30px;
	top: 27%;
	padding-top: 10px;
	background: #FFFFFF;
	border-radius: 5px;
	overflow: auto;
	z-index: 3;
}

#trip-tab-open-button {
	position: absolute;
	top: 5%;
	right: 5px;
	height: 90%;
	max-height: 100px;
}

#trip-tab-contents {
	display: none;
	width: 90%;
	margin-left: 1%;
	color: #FFFFFF;
	z-index: 1;
	opacity: 1;
	color: #000000;
}

#trip-tab-new-trip-button {
	position: absolute;
	top: 10px;
	left: 10px;
}

#me-tab-activity-title, #me-tab-languages-title {
	margin-top: 10px;
	margin-bottom: 5px;
}

#active-chat-display {
	height: 200px;
	overflow: auto;
}

#active-chat-example-link {
	display: none;
}

#minimize-chat-window {
	position: absolute;
	top: 5px;
	right: 10px;
}

#chat-window {
	position: fixed;
	width: 25%;
	min-width: 300px;
	top: 10%;
	left: 10%;
	display: none;
}

#display-trip-finished-example {
	display: none;
}

#available-user-list {
	display: none;
}

#message-container {
	position: relative;
	overflow: auto;
}

#chat-window-send-button {
	position: absolute;
	height: 100%;
	right: 0px;
	top: 0px;
	width: 0px;
}

.my-message {
	color: green;
}

.your-message {
	color: blue;
}

.online {
	background: #0066FF !important;
	color: white !important;
}

@media (min-width:767px){

	.me-tab-label {
		margin-top: 6px;
	}

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}